main{
  .jumbotron{
    height: 400px;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .container-background{
    background-color: black;
    color: white;

    .container{
      display: flex;
      flex-wrap: wrap;
      padding-top: 80px;
      span{
        font-size: 30px;
        font-weight: 700;
        padding: 15px 40px;
        background-color: $primary-color;
        color: white;
        position: absolute;
        bottom: 200px;
        z-index: 999;
      }
      .card{
        height: 300px;
        width: calc(100%/6);
        background-color: black;
        color: white;
        margin-bottom: 30px;
        .card-image{
          height:300px; 
          overflow: hidden;
          img{
            height: 100%;
            width: 80%;
            object-fit: cover; 
          }
        }
        h4{
          padding-top: 10px;
        }
      }
      
      

    }
  }
}
